/target
/.loctree
.DS_Store

# agents
agents/state/

# AI Context
/.vibecrafted
*.log
/.ai-context*
*.zip
/.ai-agents
*.orig
/*patch*
/*.html
GEMINI.md
CLAUDE.md
/*.rs
!/build.rs
*.out
/.claude/
/release-bundles
/dist
/docs/internal/
/.junie/
/*.txt
/*.py
/tools/__pycache__
/reports/agent-runs
